<% if logged_in? %>

  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container"></div>
      <div class="text-center">
        <h1>FavPhoto</h1>
        <p>大好きな写真を投稿して共有しよう</p>
        <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

