<div class="mt-4">
  <div class="text-center">
    <h2><i class="fas fa-edit"></i> 編集ページ</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render "form", post: @post %>
  </div>
</div>
