<div class="mt-4"></div>
  <div class="text-center">
    <h2><i class="far fa-paper-plane"></i> 投稿ページ</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render "form", post: @post %>
  </div>
</div>